.address-form input{
    width: 30rem;
    height: 3rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    
}
.address-center{
    text-align: center;
}

.address-form select{
    width: 30rem;
    height: 3rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    
}
select option{
    font-size: 1.2rem;
    font-weight: 600;
    
}

.address-form textarea{
    width: 30rem;
    height: 10rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    
}


@media only screen and (max-width: 500px){
    .address-form input,
    .address-form select{
        width: 22rem;
        height: 3rem;
        border: 1px solid #aaa;
        border-radius: 5px;
        
    }
    .address-form textarea{
        width: 22rem;
        height: 6rem;
    }
}

@media only screen and (max-width: 400px){
    .address-form input,
    .address-form select{
        width: 22rem;
        height: 3rem;
        border: 1px solid #aaa;
        border-radius: 5px;
        
    }
    .address-form textarea{
        width: 22rem;
        height: 6rem;
    }
}