.carousel{
    margin:0 3% 0 4.5%;
    
}

@media only screen and (max-width: 500px){
    .carousel{
        margin:0 2%;
        
    }
}

@media only screen and (max-width: 400px){
    .carousel{
        margin:0 2%;
        
    }
}