/* Header section starts */

.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color:  #faf8f8; /* #faf8f8 */
    color: rgb(14, 3, 3);  /* rgb(14, 3, 3) */
    justify-content: space-between;
    height: 2rem;
    align-items: center;
    padding: 1% 4% 1.5% 4%;
    font-size: 1.3rem;
}
.header{
    display: flex;
}
.header nav{
    margin-left: 10rem;
}
.logo{
    width: 3rem;
    height: 3rem;
    color: #b79463;
}

.navbar a {
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

.navbar a:hover {
    color: #b79463;
}

#menu-btn {
    display: none;
}

#menu-btn:hover {
    color: gold;
    cursor: pointer;
}
.cart-span{
    background-color: rgb(252, 161, 25);
    color: rgb(247, 240, 240);
    border-radius: 50%;
    padding: 0rem .3rem .1rem;
    
    font-size: .6rem;
    text-align: center;
}


/* Header section ends */






@media only screen and (max-width: 500px){
    /* Header start     */
    .head{
        
        padding: .5rem 2rem 1rem 2rem;
    }
    #menu-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        margin-right: 2.6rem;
        margin-top: .3rem;
        font-size: 1.5rem;
    }
    .tfkart{
        font-size: 1.5rem;
        font-weight: 900;
        padding-left: .5rem;
        
    }
    .logo{
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 20rem;
        height: 30rem;
        text-align: center;
        border-radius: .5rem;
        background: rgb(247, 245, 245);
    }
    
    .nactive {
        position: absolute;
        top: 10%;
        right: 10%;
        width: 20rem;
        text-align: center;
        border-radius: .5rem;
        background: rgb(247, 245, 245);
        right: 2rem;
        height: 30rem;
        transition: .4s linear;
        
    }
    
    .a {
        font-size: 1.2rem;
        margin: 2rem 2.5rem;
        display: block;
        color: black;
        text-decoration: none;
    }
    /* Header End     */




}




@media only screen and (max-width: 400px){
    /* Header start     */
    .head{
        
        padding: .5rem 2rem 1rem 2rem;
    }
    #menu-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        margin-right: 2.6rem;
        margin-top: .3rem;
        font-size: 1.5rem;
    }
    .tfkart{
        font-size: 1.5rem;
        font-weight: 900;
        padding-left: .5rem;
        
    }
    .logo{
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 20rem;
        height: 30rem;
        text-align: center;
        border-radius: .5rem;
        background: rgb(247, 245, 245);
    }
    
    .nactive {
        position: absolute;
        top: 10%;
        right: 10%;
        width: 20rem;
        text-align: center;
        border-radius: .5rem;
        background: rgb(247, 245, 245);
        right: 2rem;
        height: 30rem;
        transition: .4s linear;
        
    }
    
    .a {
        font-size: 1.2rem;
        margin: 2rem 2.5rem;
        display: block;
        color: black;
        text-decoration: none;
    }
    /* Header End     */




}