html {
    font-size: 100%;
}

body{
    margin-top: 6rem;
    color: white;
    background-color: black;
    text-transform: capitalize;
    
}

section{
    padding:2rem 9%;
}
.grid-display{
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    gap: 1.5rem;
    text-align: center;
    line-height: 1.1rem;
    
}
.grid-display img{
    width: 10rem;
    height: 10rem;
    border-radius: .4rem .4rem 0 0;
}
.prdct-display{
    border: 2px solid yellowgreen;
    border-radius: .5rem;
    padding-bottom: .5rem;
   
}
.link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    
}
.button{
    background-color: gold;
    color: black;
    border-radius: 5px;
    border: 1px solid blue;
    height: 2rem;
    width: 8rem;
    cursor: pointer;
}
.button:hover{
    background-color: blue;
    color: white;
    border: 2px solid gold;
}
.price{
    font-size: 1rem;
    color: #aaa;
    font-weight: 500;

}
.light-color{
    color: #aaa;
    font-size: 1rem;
}
.name{
    font-size: 1rem;
    font-weight: 500;
}






@media only screen and (max-width: 500px){
    html {
        font-size: 65%;
    }
    section {
        padding: 2rem 4%;
    }
    .grid-display{
        grid-template-columns:repeat(3,1fr);
    }
    .grid-display img{
        width: 11rem;
        height: 11rem;
        border-radius: .4rem .4rem 0 0;
    }
    .button{
        font-size: 1rem;
        padding: 0;
        height: 2.5rem;
    }
    
}
