html{
    font-size: 100%;
}

body {
    margin-top: 6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: capitalize;
    
  }

section{
    padding: 2rem 3% 0rem 3%;
    

}
.heading-1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: white;
}
.section-1{
    padding:.5rem;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}

.grid-display-1{
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    gap: 1.5rem;
    text-align: center;
    line-height: 1.1rem;
    
}
.grid-display-1 img{
    width: 100%;
    height: 10rem;
    border-radius: .5rem;
}
.prdct-display-1{
    padding: .5rem;
    background-color: white;
    border-radius: .5rem;
}
.name-1{
    font-size: .8rem;
}

.heading-2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(3, 132, 141);
    text-shadow: 2px 1px #aaa;
}


.grid-display-2{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 1.5rem;
    text-align: center;
    line-height: 1.1rem;
    
}
.grid-display-2 img{
    width: 100%;
    height: 18rem;
    border-radius: .5rem;
}
.prdct-display-2{
    padding: .5rem;
    border: 1px solid #aaa;
    border-radius: .5rem;
}
.name-2{
    font-size: .8rem;
    color: black;
}

.name-3{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(240, 76, 76);
    padding-top: .5rem;
}
.light-color{
    color: #5c0067;
    font-size: 1rem;
}

.prdct-display-3{
    padding: .5rem;
    background: linear-gradient(to right, #cc04c2,#9adcf8,#9adcf8);
    border-radius: .5rem;
}
.heading-3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: gold;
    background: linear-gradient(to right, #cc04c2,#9adcf8,white,white,white,#cc04c2,#9adcf8);
}

.section-2{
    padding:.5rem;
    background: linear-gradient(to bottom,rgb(108, 252, 182),rgb(245, 247, 169));
    border-radius: .5rem;
}
.section-3{
    padding:.5rem;
    background: linear-gradient(to bottom,white,white);
    border-radius: .5rem;
    margin-bottom: 5rem;
}
.prdct-display-4{
    padding: .5rem;
    background: linear-gradient(to right,rgb(40, 62, 109),rgb(12, 212, 238));
    border-radius: .5rem;
}
.heading-4{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: wheat;
    background: linear-gradient(to right, rgb(17, 17, 17),rgb(157, 230, 240));
    border-radius: .5rem;
    margin-bottom: .5rem;
}
.price{
    font-size: 1.1rem;
    color: rgb(6, 131, 233);
    font-weight: 600;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    
}
.button{
    background-color: gold;
    color: black;
    border-radius: 5px;
    border: 1px solid blue;
    height: 2rem;
    width: 8rem;
    cursor: pointer;
}
.button:hover{
    background-color: blue;
    color: white;
    border: 2px solid gold;
}
.price-4{
    font-size: 1.1rem;
    color: wheat;
    font-weight: 600;
}
.big-sale{
    height: 10rem;
    width: 100%;
}
.display-flex{
    display: flex;
}

.glassmorphism{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: .5rem;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 6px 3px 5px 3px rgba(255,255,255,0.6);
   
}
.search-input{
    text-align: center;
    align-items: center;
    margin-left: 10rem;
    height: 3rem;
    width: 33rem;
    
}






@media only screen and (max-width: 500px){
    html{
        font-size: 90%;
    }
    
    .grid-display-1{
        grid-template-columns:repeat(3,1fr);
        gap: .7rem;
    }
    .grid-display-1 img{
        width: 100%;
        height: 8rem;
        border-radius: .5rem;
    }
    .button{
        font-size: 1rem;
        margin-top: .3rem;
        padding: 0;
        height: 2.3rem;
    }
    .grid-display-2{
        grid-template-columns:repeat(2,1fr);
        gap: .7rem;
}
.grid-display-2 img{
    width: 100%;
    height: 14rem;
    border-radius: .5rem;
}
}




@media only screen and (max-width: 400px){
    html{
        font-size: 80%;
    }
    
    .grid-display-1{
        grid-template-columns:repeat(3,1fr);
        gap: .7rem;
    }
    .grid-display-1 img{
        width: 100%;
        height: 8rem;
        border-radius: .5rem;
    }
    .button{
        font-size: 1rem;
        margin-top: .3rem;
        padding: 0;
        height: 2.3rem;
    }
    .grid-display-2{
        grid-template-columns:repeat(2,1fr);
        gap: .7rem;
}
.grid-display-2 img{
    width: 100%;
    height: 14rem;
    border-radius: .5rem;
}
}
