



.main-sect{
    display: grid;
    grid-template-columns: 65% 35%;
    gap:1.5rem;
    

}

.sect{
    border: 1px solid #aaa;
    border-radius: .4rem;
    padding: 2rem;
    line-height: 2rem;
}
.line-height{
    line-height: 2rem;
}
.sect .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #aaa;
}
.preview-grid{
    display: grid;
    grid-template-columns:65% 35%;
    height: 6rem;
}









@media only screen and (max-width: 500px){
    
    
    .main-sect{
        grid-template-columns:repeat(1,1fr);
        width: 96%;
    }
    .button{
        font-size: 1rem;
        padding: 0;
    }
    .sect .long-but{
        margin-left: 2.5rem;
    }
    
    
}


@media only screen and (max-width: 400px){
    
    section {
        padding: 1rem 3%;
    }
    .main-sect{
        grid-template-columns:repeat(1,1fr);
    }
    .button{
        font-size: 1rem;
        padding: 0;
    }
    .sect .long-but{
        margin-left: 2.5rem;
    }
    
    
}