.prdct-detail{
    text-align: center;
    margin-top: 0;
    font-size: 2rem;
}
.prdct-line{
    line-height: 2rem;
}
.img-comment{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    
}
.flex{
    display: flex;
}
.margin{
    margin: 1rem;
}
.grid-prdct{
    display: grid;
    grid-template-columns:65% 35%;
    

}
.prdct-img{
    height: 25rem;
    width: 40rem;
}

#file input{
   border: 0px solid black;
   
}









@media only screen and (max-width: 500px){
    .grid-prdct{
        grid-template-columns:repeat(1,1fr);
    }
    .prdct-img{
        height: 25rem;
        width: 27.5rem;
    }
    .address-form input{
        width: 3rem;
        height: 2.5rem;
        
    }
}


@media only screen and (max-width: 400px){
    .grid-prdct{
        grid-template-columns:repeat(1,1fr);
    }
    .prdct-img{
        height: 25rem;
        width: 27.5rem;
    }
    .address-form input{
        width: 3rem;
        height: 2.5rem;
        
    }
}
